@using MVCProject.BLL
@model ViewItemsViewModel

@{
    ViewBag.Title = "Items";
}

<style>
    td:hover {
        cursor: default;
    }
</style>

<h2 class="page-header" style="border: none;">Items</h2>

@Html.Table(
    data: @Model.Items,
    propertiesToSkip: new[] { "ID" },
    rowIDProperty: "ID",
    divClass: "items",
    tableClass: "table table-condensed table-hover",
    pagerRoute: new RouteInfo<int>
    {
        ControllerName = "AdventureWorks",
        ActionName = "ViewItems",
        RouteValues = page => new { customerID = Model.CustomerID, billID = Model.BillID, page }
    },
    headers: new[] { "Quantity", "Cost per unit", "Discount (%)", "Total price", "Product name", "Number",
    "Color", "Minimal stored quantity", "Price without VAT", "Category", "Subcategory" }
)

@Html.ActionLink(
    linkText: "<  Back to Bills",
    actionName: "ViewBills",
    controllerName: "AdventureWorks",
    routeValues: new { customerID = Model.CustomerID },
    htmlAttributes: new { @class = "btn btn-info" }
)